DISCORD_TOKEN=
GUILD_ID=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:47821/callback
HENRIK_API_KEY=
AGENT_BUS_PORT=47831
AGENT_STACK_TOKEN=
AGENT_KAYNAK_TOKEN=
AGENT_REHBER_TOKEN=
YTDLP_COOKIES=
